<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org.//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jcticket.ticketing.mybatis.mapper.mypage.mypageMapper">

    <select id="selectAll" parameterType="map" resultType="TicketingDTO">
        SELECT
        t.ticketing_at,
        t.ticketing_id,
        t.play_name,
        t.viewing_at,
        t.ticketing_cnt,
        (SELECT cc.comn_code_name FROM comn_code cc WHERE cc.comn_code_id = t.ticketing_status) AS ticketing_status
        FROM
        ticketing t
        WHERE
        1=1
        <choose>
            <when test='selectType == "desc"'>
                ORDER BY
                t.ticketing_at DESC
                LIMIT 5;
            </when>
            <when test='selectType == "page"'>
                ORDER BY
                t.ticketing_at DESC
                LIMIT #{pageSize}
                OFFSET #{offset};
            </when>
        </choose>
    </select>


    <select id="count" resultType="int">
        select count(*)
        from ticketing
    </select>

    <insert id="insert" parameterType="TicketingDto">
        INSERT INTO `Ticketing` (
            `ticketing_id`,
            `ticketing_cnt`,
            `ticketing_status`,
            `showing_info`,
            `showing_date`,
            `play_price`,
            `stage_name`,
            `choice_show_seat`,
            `ticketing_price`,
            `user_name`,
            `viewing_at`,
            `play_name`,
            `created_id`,
            `updated_id`
        ) VALUES ( #{ticketing_id}, #{ticketing_cnt}, #{ticketing_status}, #{showing_info}, #{showing_date}, #{play_price}, #{stage_name},
                  #{choice_show_seat}, #{ticketing_price}, #{user_name}, #{viewing_at}, #{play_name}, #{created_id}, #{updated_id});
    </insert>


</mapper>