    <?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org.//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SignupMapper">

    <!--user insert-->
    <insert id="signup" parameterType="SignupDto">
        insert into user
        (user_id,
         user_password,
         user_name,
         user_email,
         user_tel,
         user_address,
         user_nickname,
         user_birth,
         user_gender,
         user_create_at,
         user_retire_yn,
         user_visit_cnt,
         user_interested_genre,
         created_at,
         created_id,
         updated_at,
         updated_id)
        values
            (#{user_id},
             #{user_pwd},
             #{user_name},
             #{user_email},
             #{user_tel},
             #{user_address},
             #{user_nickname},
             #{user_birth},
             #{user_gender},
             current_timestamp,
             'N',
             0,
             #{user_interested_genre},
             current_timestamp,
             'system',
             current_timestamp,
             'system')
    </insert>

    <!-- 아이디 중복체크   -->
    <select id="chkIdDupl" parameterType="String" resultType="int">
        select count(*)
        from user
        where user_id = #{user_id}
    </select>

    <!-- 닉네임 중복체크-->
    <select id="chk_NickName_Dupl" parameterType="String" resultType="int">
        select count(*)
        from user
        where user_nickname = #{user_nickname}
    </select>
</mapper>