.top-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-top{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    min-width: 1300px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 50;
}

.play-top-main{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 1300px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 50;
}

.play-top-left img{
    display: flex;
    flex-direction: column;
    vertical-align: top;
    width: 90px;
    padding: 3px 0 0 5px;
}

.play-top-left img.trans{
    display: none;
}

.play-top-left img.fixed{
    display: inline-block;
}

.play-top-left{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:10px;
    left: 30px;
    z-index: 10;
    background: rgba(0,0,0,0);
}


.play-top-center{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top: 33px;
    transform: translate(0,-50%);
    z-index: 10;
}


.play-top-center a{
    display: flex;
    align-items: center;
    margin-right: 100px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: gray;
}

.play-top-center a span{
    display: block;
    background: #ec7d2c;
    width: 0;
    height: 3px;
    position: absolute;
    top: 30px;
    left: 0;
    margin-top: 5px;
}

.play-top-center-main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top: 33px;
    transform: translate(0,-50%);
    z-index: 10;
}

.play-top-center-main a{
    display: flex;
    align-items: center;
    margin-right: 100px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.play-top-right{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 220px;
    height: 22px;
    right: 40px;
    top: 40px;
    z-index: 10;
}

.play-top-right .my-page{
    width: 22px;
}

.play-top-right .my-page .mp_icon{
    width: 22px;
}

.play-top-right .login{
    width: 22px;
    right: 43px;
}

.play-top-right .login .login_icon{
    width: 22px;
    right: 43px;
}

.play-top-right .logout{
    width: 19px;
    right: 43px;
}

.play-top-right .logout .logout_icon{

    width: 19px;
    right: 43px;
}

.play-top-right .notice{
    right: 80px;
    width: 22px;
    margin-right: 5px;
}

.play-top-right .notice .notice_icon{
    right: 80px;
    width: 22px;
}

.play-top-right a{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 22px;
    line-height: 24px;
    font-size: 12px;
    position: absolute;
    top: 0;
}





