<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>
    <typeAliases>
        <typeAlias alias="NoticeDto" type="com.jcticket.notice.dto.NoticeDto"/>
        <typeAlias alias="NoticeValidDto" type="com.jcticket.notice.dto.NoticeValidDto"/>
        <typeAlias alias="TicketingDto" type="com.jcticket.ticketing.dto.TicketingDto"/>
        <typeAlias alias="AdminDto" type="com.jcticket.admin.dto.AdminDto"/>
        <typeAlias alias="UserDto" type="com.jcticket.user.dto.UserDto"/>
        <typeAlias alias="ShowingDto" type="com.jcticket.viewdetail.dto.ShowingDto"/>
        <typeAlias alias="ShowSeatDto" type="com.jcticket.admin.dto.ShowSeatDto"/>
        <typeAlias alias="JoinDto" type="com.jcticket.viewdetail.dto.JoinDto"/>
        <typeAlias alias="PlayDto" type="com.jcticket.admin.dto.PlayDto"/>
        <typeAlias alias="PlayImgDto" type="com.jcticket.admin.dto.PlayImgDto"/>
        <typeAlias alias="SeatClassDto" type="com.jcticket.viewdetail.dto.SeatClassDto"/>
        <typeAlias alias="ReviewDto" type="com.jcticket.viewdetail.dto.ReviewDto"/>


        <typeAlias alias="CouponDto" type="com.jcticket.admin.dto.CouponDto"/>
<!--        <typeAlias alias="UserCouponDto" type="com.jcticket.dto.UserCouponDto"/>-->
        <typeAlias alias="StageDto" type="com.jcticket.admin.dto.StageDto"/>
        <typeAlias alias="TermsDto" type="com.jcticket.user.dto.TermsDto"/>
        <typeAlias alias="InquiryDto" type="com.jcticket.mypage.dto.InquiryDto"/>

        <typeAlias alias="UserCouponDto" type="com.jcticket.mypage.dto.UserCouponDto"/>



        <typeAlias alias="AgencyDto" type="com.jcticket.agency.dto.AgencyDto"/>
        <typeAlias alias="SeatDto" type="com.jcticket.dto.SeatDto"/>
        <typeAlias alias="EnrollDto" type="com.jcticket.enroll.dto.EnrollDto"/>
    </typeAliases>
</configuration>