<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org.//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="AgencyMapper">
<!--  2.Mapper 설정: id="AgencyLogin으로 호출하면 AgencyDto로 매핑? 해? 줌?
네임스페이스는 나중에 AgencyDaoImpl 에서  쿼리 실행 할 때 사용?-->

    <insert id="AgencyInsert" parameterType="AgencyDto">
        INSERT INTO agency
        (agency_id, agency_password, agency_name, agency_email, agency_tel, agency_register_num, agency_reg_at, agency_status_val, agency_contract_reg_at, agency_contract_expire_at, agency_content, agency_manager_name, created_at, created_id, updated_at, updated_id)
        VALUES(#{agency_id}, #{agency_password}, #{agency_name}, #{agency_email}, #{agency_tel}, #{agency_register_num}, CURRENT_TIMESTAMP, #{agency_status_val}, CURRENT_TIMESTAMP, #{agency_contract_expire_at}, #{agency_content}, #{agency_manager_name}, CURRENT_TIMESTAMP, #{created_id}, CURRENT_TIMESTAMP, #{updated_id})
    </insert>

    <select id="AgencyCount" resultType="int">
        select count(*) from agency
    </select>

    <delete id="AgencyDelete">
        delete from agency
    </delete>

    <select id="AgencyLogin" resultType="AgencyDto" parameterType="String">
        select
            *
        from
            agency
        where
            1=1
          and agency_id = #{agency_id}
    </select>



    <!-- PlayDto를 db에 insert -->
    <insert id="insertPlay" parameterType="com.jcticket.agency.dto.PlayDto">
        INSERT INTO play (play_id, play_name, play_poster, play_info, play_major_cat, play_middle_cat, play_small_cat, play_run_time, agency_id, created_at, created_id, updated_at, updated_id)
        VALUES (#{playId}, #{playName}, #{playPoster}, #{playInfo}, #{playMajorCat}, #{playMiddleCat}, #{playSmallCat}, #{playRunTime}, #{agencyId}, #{createdAt}, #{createdId}, #{updatedAt}, #{updatedId})
    </insert>

    <!-- ShowingDto를 db에 insert -->
    <insert id="insertShowing" parameterType="com.jcticket.agency.dto.ShowingDto">
        INSERT INTO showing (showing_seq, showing_start_at, showing_end_at, showing_info, showing_date, showing_day, showing_status, showing_seat_cnt, play_id, stage_id, created_at, created_id, updated_at, updated_id)
        VALUES (#{showingSeq}, #{showingStartAt}, #{showingEndAt}, #{showingInfo}, #{showingDate}, #{showingDay}, #{showingStatus}, #{showingSeatCnt}, #{playId}, #{stageId}, #{createdAt}, #{createdId}, #{updatedAt}, #{updatedId})
    </insert>

    <!-- StageDto를 db에 insert -->
    <insert id="insertStage" parameterType="com.jcticket.agency.dto.StageDto">
        INSERT INTO stage (stage_id, stage_name, stage_address, stage_seat_cnt, stage_manager, stage_type, stage_tel, created_at, created_id, updated_at, updated_id)
        VALUES (#{stageId}, #{stageName}, #{stageAddress}, #{stageSeatCnt}, #{stageManager}, #{stageType}, #{stageTel}, #{createdAt}, #{createdId}, #{updatedAt}, #{updatedId})
    </insert>


    <select id="getAllStages" resultType="com.jcticket.agency.dto.StageDto">
        SELECT * FROM stage
    </select>


<!--login CRUD...-->
<!--    <insert id="insertAgency" parameterType="AgencyDto">-->
<!--        INSERT INTO agency (agency_id, agency_name, agency_password, agency_email)-->
<!--        VALUES (#{agency_id}, #{agency_name}, #{agency_password}, #{agency_email})-->
<!--    </insert>-->

<!--    <update id="updateAgency" parameterType="AgencyDto">-->
<!--        UPDATE agency-->
<!--        SET agency_name = #{agency_name}, agency_password = #{agency_password}, agency_email = #{agency_email}-->
<!--        WHERE agency_id = #{agency_id}-->
<!--    </update>-->

<!--    <delete id="deleteAgency" parameterType="String">-->
<!--        DELETE FROM agency WHERE agency_id = #{agency_id}-->
<!--    </delete>-->
<!--    why....?-->








    <insert id="insertAgency" parameterType="com.jcticket.agency.dto.AgencyDto">
        INSERT INTO play (
            play_name,
            play_sub_name,
            play_major_cat,
            play_poster
        ) VALUES (
                     #{playName},
                     #{playSubName},
                     #{playMajorCategory},
                     #{playPoster}
                 );
        INSERT INTO stage (
            stage_name,
            stage_address
        ) VALUES (
                     #{stageName},
                     #{stageAddress}
                 );
        INSERT INTO showing (
            showing_start_at,
            showing_end_at,
            showing_info
        ) VALUES (
                     #{showingStartAt},
                     #{showingEndAt},
                     #{showingInfo}
                 );
    </insert>
<!--    쿼리 개별로 작성-->


</mapper>
