<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org.//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="NoticeMapper">

<!--    테스트용 공지사항 insert-->
    <insert id="insert" parameterType="NoticeDto" useGeneratedKeys="true" keyProperty="notice_seq">
        INSERT INTO notice
        (notice_seq, notice_title, notice_content, notice_view_cnt, notice_reg_at, notice_use_yn, notice_pin_yn, admin_id, created_at, created_id, updated_at, updated_id)
        VALUES(#{notice_seq}, #{notice_title}, #{notice_content}, '0', CURRENT_TIMESTAMP, 'Y', 'N', 'admin', CURRENT_TIMESTAMP, 'JISOO', CURRENT_TIMESTAMP, 'JISOO');
    </insert>

<!--    관리자단 공지사항 insert-->
    <insert id="insertValid" parameterType="NoticeValidDto" useGeneratedKeys="true" keyProperty="notice_seq">
        INSERT INTO notice
        (notice_seq, notice_title, notice_content, notice_view_cnt, notice_reg_at, notice_use_yn, notice_pin_yn, admin_id, created_at, created_id, updated_at, updated_id)
        VALUES(#{notice_seq}, #{notice_title}, #{notice_content}, '0', CURRENT_TIMESTAMP, 'Y', 'N', #{admin_id}, CURRENT_TIMESTAMP, 'JISOO', CURRENT_TIMESTAMP, 'JISOO');
    </insert>

    <delete id="deleteAll">
        delete from notice
    </delete>

    <select id="select" resultType="NoticeDto" parameterType="int">
        select
            notice_seq,
            notice_title,
            notice_content,
            notice_reg_at,
            notice_reg_at,
            notice_view_cnt,
            notice_use_yn
        from
            notice
        where
            1=1
            and notice_seq = #{notice_seq}
            and notice_use_yn = 'Y'
    </select>

    <select id="count" resultType="int">
        select
            count(*)
        from
            notice
        where
            1=1
            and notice_use_yn = 'Y'
        <if test="keyword != null and keyword != '' ">
            and notice_title like concat('%',#{keyword},'%')
        </if>
    </select>
    
    <select id="selectAll" resultType="NoticeDto">
        select
            *
        from
            notice
        where
            1=1
            and notice_use_yn = 'Y'
    </select>

    <select id="pagingList" resultType="NoticeDto" parameterType="java.util.HashMap">
        select
            notice_seq,
            notice_title,
            notice_content,
            notice_reg_at,
            notice_view_cnt,
            notice_use_yn,
            admin_id
        from
            notice
        where
            1=1
            and notice_use_yn = 'Y'
        <if test="keyword != null">
            and notice_title like concat('%',#{keyword},'%')
        </if>
        <choose>
            <when test='sort == "seq"'>
                order by
                    notice_seq desc
            </when>
            <when test='sort == "view"'>
                order by
                    notice_view_cnt desc
            </when>
            <otherwise>
                order by
                    notice_seq desc
            </otherwise>
        </choose>
        limit
            #{start}, #{limit}
    </select>

    <update id="addViewCnt" parameterType="int">
        update
            notice
        set
            notice_view_cnt = notice_view_cnt + 1
        where
            1=1
            and notice_seq = #{notice_seq}
            and notice_use_yn = 'Y'
    </update>

    <update id="updateInfo" parameterType="NoticeDto">
        update
            notice
        set
            notice_title = #{notice_title},
            notice_content = #{notice_content},
            updated_at = CURRENT_TIMESTAMP,
            updated_id = "JISOO"
        where
            notice_seq = #{notice_seq}
    </update>

</mapper>

