<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org.//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jcticket.notice.mybatis.mapper.notice.NoticeMapper">
    <select id="test" resultType="String">
        select sysdate()
    </select>

    <select id="selectAll" resultType="NoticeDto">
        select
            notice_seq,
            notice_title,
            notice_content,
            notice_reg_at,
            notice_view_cnt
        from
            notice
    </select>
</mapper>

