<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org.//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminMapper">
    <select id="usercnt" resultType="int" parameterType="String">
        SELECT
            count(*)
        FROM
            user
        WHERE
            1=1
        <choose>
            <when test='option=="I"'>
                AND user_id LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="N"'>
                AND user_name LIKE concat('%', #{keyword}, '%')
            </when>
        </choose>
    </select>

        <select id="login" resultType="AdminDto">
            SELECT
                admin_id, admin_email, admin_password, admin_phone, admin_nickname, admin_use_yn, admin_reg_at, admin_auth, created_at, created_id, updated_at, updated_id
            FROM
                admin
            WHERE
                1=1
                and admin_id = #{admin_id}
                and admin_password = #{admin_password}
        </select>

        <select id="userstatics" resultType="UserDto">
            SELECT
                user_name, user_id, user_tel, user_email, user_address, user_gender , user_visit_cnt , user_birth , user_create_at
            FROM
                user
            ORDER BY
                user_create_at desc
            LIMIT
	            3
        </select>

        <select id="userlist" resultType="UserDto">
            SELECT
                *
            FROM
                user
            ORDER BY
                user_create_at desc
        </select>

    <select id="userpaginglist" resultType="UserDto" parameterType="java.util.HashMap">
        SELECT
            *
        FROM
            user
        WHERE
            1=1
            <choose>
                <when test='option=="I"'>
                    AND user_id LIKE concat('%', #{keyword}, '%')
                </when>
                <when test='option=="N"'>
                    AND user_name LIKE concat('%', #{keyword}, '%')
                </when>
            </choose>
        ORDER BY
            user_create_at desc
        limit
	        #{start}, #{limit}
    </select>

    <update id="userretireupdate" parameterType="String">
        UPDATE user
        SET
            user_retire_yn = 'Y',
            user_retire_at = now()
        WHERE
            user_id = #{user_id};
    </update>



</mapper>
