/*공통 css 시작*/
* {
    margin: 0;
    padding: 0;
}
#wrap {
    height: 100%;
    padding: 0px 0px 500px 0px;
}
#container {
    width: 1200px;
    height: 900px;
    margin: auto;
}
#side {
    width: 210px;
    height: 900px;
    float: left;
}
#con {
    width: 950px;
    height: 800px;
    float: left;
    margin: 0px 20px;
}


#side-mypage, #side-ticket, #side-client {
    display: inline-block;
}


#ticket {
    margin: 10px 0px;
    padding-left: 5px;
    border: 5px solid darkorchid;
    border-radius: 5px;
    list-style: none;
}

#ticket > a {
    text-decoration-line: none;
}

#ticket > a > h3 {
    margin: 10px;
}

#client {
    border: 5px solid #6699cc;
    border-radius: 5px;
    padding-left: 5px;
}

#client > ul {
    list-style: none;
}

#client > h3, h2 {
    margin: 5px;
}

#client > ul > li {
    margin: 5px;
}

/* 공통 코드 끝 */


/* mypage_main 시작 */
#ticketing {
    margin: 15px;
}



/*<%--    ticketing 끝    --%>*/

#side_img > img {
    margin: 10px 0px;
    border-radius: 10px;
    width: 100%;
    height: 500px;
}

#main_cupon {
    display: inline-block;
}

#event {
    display: inline-block;
}


#main_cupon > #main_cupon_h1, #event_h1 {
    padding: 8px 10px 6px 13px;
    font-size: 20px;
    font-weight: bold;
    border: 5px solid;
    width: 425px;
}

#main_cupon > ul, #event > ul {
    padding-left: 30px;
    border: 1px solid;
}

#main_cupon > ul > li, #event > ul > li {
    margin: 5px 0px;
}

#center_img > img {
    width: 100%;
    margin: 10px 0px;
    height: 100px;
}

#ticketing {
    text-align: center;
    margin: 10px;
}

#ticketing > table {
    margin: auto;
    width: 700px;
    text-align: center;
    font-size: 15px;
}

#ticketing th {
    padding: 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

#ticketing td {
    padding: 10px;
    border-bottom: 1px solid;
}

/* mypage_main 끝 */

/* mypage_cupon 시작*/


/*#cupon {*/
/*    margin: 10px 0px;*/
/*    font-size: 13px;*/
/*}*/

/*#cupon > p {*/
/*    margin-top: 15px;*/
/*}*/


/*#cupon-input {*/
/*    margin: 20px 0px;*/
/*    width: auto;*/
/*    height: 140px;*/
/*    background-color: lightgray;*/
/*    display: flex;*/
/*}*/

/*#cupon-input > h2 {*/
/*    margin-top: 52px;*/
/*    margin-left: 70px;*/
/*}*/

/*#cupon-input > input {*/
/*    font-size: 20px;*/
/*    margin: 45px 0px;*/
/*    margin-left: 10px;*/
/*    width: 300px;*/
/*    height: 45px;*/
/*    border: 3px solid;*/
/*}*/

/*#cupon-input > button {*/
/*    font-size: 20px;*/
/*    margin: 45px 0px;*/
/*    margin-left: 10px;*/
/*    width: 100px;*/
/*    height: 45px;*/
/*    border: 3px solid;*/
/*}*/

/*#h2-tag {*/
/*    margin-left: 5px;*/

/*    display: flex;*/
/*}*/

/*#h2-tag > a {*/
/*    text-decoration: none;*/
/*    margin: 10px;*/
/*}*/


/*#cupon-list {*/
/*    border-top: 3px solid;*/

/*}*/

/*#cupon-list th {*/
/*    border-bottom: 1px solid;*/
/*    padding: 10px;*/
/*}*/

/*#cupon-list td {*/
/*    font-size: 14px;*/
/*    border-bottom: 1px solid;*/
/*    padding: 10px;*/
/*}*/

/*#cupon-use {*/
/*    border: 1px solid;*/
/*    margin: 20px 0px;*/
/*    width: 700px;*/
/*    height: 250px;*/
/*    background-color: #6699cc;*/
/*}*/

/*#cupon-use > h4 {*/
/*    margin: 10px;*/
/*}*/

/*#cupon-use > ul {*/
/*    list-style: none;*/
/*}*/

/*#cupon-use > ul > li {*/
/*    margin: 5px;*/
/*}*/


/* mypage_cupon 끝*/

/* mypage_client 시작*/

/*.qustion_box {*/
/*    width: 700px;*/
/*    height: 500px;*/
/*}*/

/*.qustion_box_img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*#question {*/
/*    width: 100%;*/
/*    height: 300px;*/
/*    background-color: white;*/
/*}*/

/*#question > h2 {*/
/*    margin-bottom: 10px;*/
/*}*/

/*#question > details > summary {*/
/*    margin: 10px;*/
/*}*/


/*#question > p {*/
/*    margin: 10px;*/
/*}*/

/*#question > details > p {*/

/*    margin: 10px;*/
/*}*/

/*#question > details  > ul {*/
/*    padding-left: 5px;*/
/*    list-style: none;*/
/*}*/
/*#question > details > ul > li {*/
/*    margin: 10px;*/
/*}*/

/* mypage_client 끝*/