<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jcticket.ticketing.mybatis.mapper.ticketing.TicketingMapper">
    <select id="getNow" resultType="String">
        SELECT sysdate()
    </select>

    <select id="selectAll" resultType="TicketingDto">
        SELECT ticketing_id, ticketing_at, ticketing_cnt,
               ticketing_status, showing_info, showing_date,
               cancelable_at, play_price, stage_name,
               choice_show_seat, ticketing_price, user_name,
               viewing_at, play_name
        FROM ticketing
    </select>
</mapper>

<!-- com.jcticket.example.mybatis.mapper.ticketing.ticketingMapper -->